:root {
  --royal-blue: #00539B;
  --royal-blue-hover: #02427a;
  --navy-blue: #012169;
  --light-green: #A2C5AC;
  --light-green-hover: #b2cfba;
  --light-gray: #D3D5D4;
  --light-gray-hover: #b3b5b4;
  --ash-gray: #9DB5B2;
  --red: #ED254E;
  --red-hover: #bf1336;
}

section {
color: #fff;
text-align: center;
}

body {
  font-family: 'Roboto', serif;
}


/* MAIN */

button {
  border-radius: 5px;
  border: none;
}

/* NAVIGATION */

.sidenav {
  height: 100%;
  background-color: var(--navy-blue);
  overflow-x: hidden;
  padding: 20px 10px;
}

.nav-user {
  color: white;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.main-head {
  height: 150px;
  background: #FFF;
}

.main {
  padding: 0px 10px;
}

.login-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2 {
  font-weight: 300;
}

.btn-black {
  background-color: #000 !important;
  color: #fff;
}

#user-welcome {
  padding-right: 10px;
}

.filter-products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-inline {
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.filter-criteria {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.filter-criteria #k {
  width: 3rem;
}

/* PRODUCT DETAILS */

.product-view {
  padding: 0 2rem;
}

.seller-box {
  width: 35%;
  float: right;
  background-color: var(--light-gray);
  padding: 1rem;
}

.seller-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  vertical-align: middle;
  height: 3rem;
}

.seller-list span {
  vertical-align: middle;
  align-self: center;
}

.seller-list form {
  vertical-align: middle;
  align-self: center;
}

.seller-list button {
  background-color: var(--light-green);
  color: white;
  padding: .1rem 1rem;
}

.seller-list button:hover {
  background-color: var(--light-green-hover);
  cursor: pointer;
}

/* CART */

.saved {
  width: screen;
}

.saved a {
  text-decoration: underline;
  color: var(--royal-blue);
}

.saved a:hover {
  color: var(--royal-blue-hover);
}

.saved button {
  border-radius: 5px;
  transition: all;
  transition-duration: 100ms;
  border: none;
  padding: 4px 1rem;
}

.saved button:hover {
  cursor: pointer;
}

.cart-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
}

.cart-left, .cart-right {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 1rem;
}

.cart-left {
  width: 80%;
}

.cart-right {
  width: 15%;
  display: flex;
  flex-direction: column;
}

.cart-right form {
  margin: auto;
  text-align: center;
}

.cart-submit {
  background-color: var(--light-green);
}

.cart-submit:hover {
  background-color: var(--light-green-hover);
}

.cart-update {
  background-color: var(--light-gray);
}

.cart-update:hover {
  background-color: var(--light-gray-hover);
  cursor: pointer;
}

.saved-row td {
  align-self: center;
}

.cart-remove button {
  color: var(--red);
  text-transform: lowercase;
  background-color: white;

}

.cart-remove button:hover {
  color: var(--red-hover);
}

.table td {
  vertical-align: middle;
}

.table th {
  vertical-align: middle;
}

.item-unavailable th {
  text-decoration: line-through;
}

.item-unavailable th {
  font-weight: normal;
}

#update-qty {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#quantity {
  width: 4rem;
}

/* ORDERS */

.view-order {
  transition: all;
  transition-duration: 100ms;
  padding: 4px 1rem;
  background: var(--light-gray);
}

.view-order:hover {
  cursor: pointer;
  background-color: var(--light-gray-hover);
}