:root {
  --royal-blue: #00539B;
  --royal-blue-hover: #02427a;
  --navy-blue: #012169;
  --dark-green: #2a3d3a;
  --light-green: #A2C5AC;
  --light-green-hover: #b2cfba;
  --light-gray: #D3D5D4;
  --light-gray-hover: #b3b5b4;
  --ash-gray: #9DB5B2;
  --ash-gray-hover: #8ba3a0;
  --red: #ED254E;
  --red-hover: #bf1336;
  --green-tint: #dfedeb;
  --green-tint-hover:#d1dedc;
  --red-tint:#f5e4e7;
  --red-tint-hover: #edd1d6;
  --yellow-tint: #faf7e8;
  --yellow-tint-hover: #faf2cf;
  --home-sky: #005868;
  --home-sky-hover: #014a57;
  --default-dark: #00252b;
  --default-light: #edf4f5;
  --default-light-accent: #d8e4e6;
  --gray: #b6c0c2;
}

section {
color: #fff;
text-align: center;
}

html {
  font-family: 'Roboto', serif;
  min-height: 100%;
}

body {
  min-height: 100vh;
}

/* MAIN */

button {
  border-radius: 5px;
  border: none;
}

/* NAVIGATION */

.sidenav {
  width: 100%;
  background-color: var(--default-dark);
  overflow-x: hidden;
  padding: 20px;
  position: fixed;
}

.nav-user {
  color: white;
  display: flex;
  gap: 1rem;
}

.nav-user svg {
  vertical-align: middle;
  padding-bottom: .1rem;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.home-link {
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  transition: all;
  transition-duration: 200ms;
}

.home-link:hover {
  color: lightgray;
  text-decoration: none;
}

.main-head {
  background: #eee;
}

.sidenav, .footer {
  min-height: 5vh;
}

.main {
  min-height: 95vh;
  padding-top: 10vh;
  color: var(--default-dark);
  background-color: var(--default-light);
  display: flex;
  font-display: column;
  justify-content: center;
}

.login-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--light-gray);
  padding: 0 1rem;
  border-radius: 5px;
  color: var(--navy-blue);
  text-transform: uppercase;
  transition: all;
  transition-duration: 200ms;
}

.login-button:hover {
  text-decoration: none;
  color: black;
  background-color: var(--light-gray-hover);
}

.login-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2 {
  font-weight: 300;
}

.btn-black {
  background-color: #000 !important;
  color: #fff;
}

.nav-icon {
  vertical-align: middle;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-icon:hover {
  color: #ddd;
  text-decoration: none;
}

#user-welcome {
  padding-right: 10px;
  vertical-align: middle;
}

.footer {
  width: 100%;
  background-color: var(--default-dark);
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer a {
  color: white;
}

/* LOGIN */

.login-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}

.login-form {
  text-align: center;
  padding: 2rem;
  width: 50%;
  margin: auto;
  border: 1px solid var(--navy-blue);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 5px;
}

.login-form h1 {
  padding-bottom: 1rem;
}

/* REGISTER */

.register-screen {
  height: 65vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

.register-form {
  border: 1px solid var(--navy-blue);
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;

}

/* HOME */

.home-screen {
  padding-top: 2rem;
  width: 100%;
}

.home-display {
  background-image: url('https://images.unsplash.com/34/BA1yLjNnQCI1yisIZGEi_2013-07-16_1922_IMG_9873.jpg?q=80&w=3271&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* INDEX */

.index-screen {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}

.filter-products {

}

.product-table {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  width: 95%;
  margin: auto;
}

.filter-criteria #k {
  width: 3rem;
}

#prodTableBody a {
  color: var(--royal-blue);
}

#recent-table {
  padding: 1rem;
}

#recent-table th {
  padding: 1rem;
}

.purchase-pending, .purchase-fulfilled, .purchase-on-hold {
  transition: all;
  transition-duration: 50ms;
}

.purchase-pending {
  background-color: var(--yellow-tint);
}

.purchase-pending:hover {
  background-color: var(--yellow-tint-hover);
}

.purchase-fulfilled {
  background-color: var(--green-tint);
  color: var(--dark-green);
}

.purchase-fulfilled:hover {
  background-color: var(--green-tint-hover);
}

.purchase-on-hold {
  background-color: var(--red-tint);
}

.purchase-on-hold:hover {
  background-color: var(--red-tint-hover);
}

.order-link {
  color: var(--royal-blue);
  text-decoration: underline;
  font-weight: lighter !important;
}

.order-link:hover {
  font-weight: bolder !important;
}

.order-status-link {
  color: var(--royal-blue);
  text-align: center;
}

.order-status-link:hover {
  text-decoration: underline;
}

/* USER ACCOUNT */

.update-balance-container {
  min-height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.update-balance-page {
  width: 50%;
  margin: 4rem auto;
  padding: 2rem;
  background-color: var(--gray);
}

.update-balance-page h1 {
  padding-bottom: 1rem;
  text-align: center;
}

.update-balance-page form {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 2rem;
}

.update-balance-page form .btn-group-custom {
  display: flex;
  border-radius: 5px !important;
  flex-direction: row;
  gap: 4rem;
  justify-content: center;
}

.balance-input-btn input {
  visibility:hidden;
}
.balance-input-btn label {
  cursor: pointer;
  background-color: white;
  color: var(--default-dark);
  padding: 0 1rem;
  align-items: center;
  vertical-align: center;
  padding: .1rem 1rem;
  text-transform: uppercase;
  border: 3px solid white;
  font-size: 1.2rem;
}
.balance-input-btn input:checked + label {
  background-color: var(--default-dark);
  color: white;
  border: 3px solid var(--light-green);
}

.btn-group-custom input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.update-balance-page .amount-input {
  width: 40%;
  margin: auto;
}

.update-balance-page .amount-input input {
  width: 100%;
}

.update-balance-button {
  width: 20%;
  margin: auto;
  background-color: var(--home-sky);
  color: var(--default-light);
  padding: .2rem 1rem;
}

.update-balance-button:hover {
  background-color: var(--home-sky-hover);
  cursor: pointer;
}


/* PRODUCT DETAILS */

.product-view {
  padding: 0 2rem;
}

.seller-box {
  width: 35%;
  float: right;
  background-color: var(--light-gray);
  padding: 1rem;
}

.seller-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  vertical-align: middle;
  height: 3rem;
}

.seller-list form {
  display: flex;
  flex-direction: row;
}

.seller-list span {
  vertical-align: middle;
  align-self: center;
}

.seller-list form {
  vertical-align: middle;
  align-self: center;
}

.seller-list button {
  background-color: var(--light-green);
  color: white;
  padding: .1rem 1rem;
}

.seller-list button:hover {
  background-color: var(--light-green-hover);
  cursor: pointer;
}

.add-to-cart {
  display: flex;
  gap: 1rem;
}

#subtract-qty, #add-qty {
  background-color: var(--light-gray);
  color: var(--royal-blue);
  transition: all;
  transition-duration: 200ms;
}

#subtract-qty:hover, #add-qty:hover {
  background-color: var(--light-gray-hover);
}

/* CART */

.saved {
  width: 100%;
  margin: auto;
  height: 80vh;
}

.saved a {
  text-decoration: underline;
  color: var(--royal-blue);
}

.saved a:hover {
  color: var(--royal-blue-hover);
}

.saved button {
  border-radius: 5px;
  transition: all;
  transition-duration: 100ms;
  border: none;
  padding: 4px 1rem;
}

.saved button:hover {
  cursor: pointer;
}

.cart-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
}

.cart-left, .cart-right {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 1rem;
  background-color: var(--default-light-accent);
}

.cart-left {
  width: 80%;
}

.cart-right {
  width: 15%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  /* max-height: 12rem; */
  gap: .5rem;
  /* justify-content: space-between; */
}

.line-total {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--default-light);
  padding: .25rem 0;
}

@media only screen and (max-width: 1200px) {
  .cart-body {
    flex-direction: column;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
  }

  .cart-left, .cart-right {
    width: 100%;
  }
}

.cart-right form {
  text-align: center;
  padding: 1rem 0 0 0;
}

.cart-submit {
  background-color: var(--light-green);
  text-transform: uppercase;
}

.cart-submit:hover {
  background-color: var(--light-green-hover);
}

#qty-update {
  padding: .1rem .5rem;
  background-color: var(--ash-gray);
  color: white;
}

#qty-update:hover {
  background-color: 
}

.cart-update {
  background-color: var(--default-light);
}

.cart-update:hover {
  background-color: var(--default-light-accent);
  cursor: pointer;
}

.saved-row td {
  align-self: center;
}

.cart-remove button {
  color: var(--red);
  text-transform: lowercase;
  background-color: var(--default-light-accent);

}

.cart-remove button:hover {
  color: var(--red-hover);
}

.table td {
  vertical-align: middle;
}

.table th {
  vertical-align: middle;
}

.item-unavailable th {
  text-decoration: line-through;
  font-weight: normal;
}

.item-unavailable td {
  text-align: center;
}

.fixed-col {
  width: 12rem;
  margin: auto;
  text-align: center;
}

.fixed-col form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.last-col {
  width: 4rem;
}

#update-qty {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

#quantity {
  text-align: center;
  width: 4rem;
  background-color: #eee;
  border: none;
}

.edit-balance {
  font-size: 1rem;
  margin-top: .3rem;
  color: var(--royal-blue);
}

#edit-balance {
  color: gray;
  font-size: .8rem;
  text-decoration: none;
  float: right;
  text-align: right;
}

#edit-balance:hover {
  text-decoration: underline;
}

#negative-balance-warning {
  color: var(--red);
}

/* CHECKOUT */

.back-container {
  padding: 2rem .5rem;
}

.back-to-cart {
  background-color: var(--ash-gray);
  padding: .5rem 1rem;
  color: white;
  border-radius: 5px;
  transition: all;
  transition-duration: 200ms;
}

.back-to-cart:hover {
  cursor: pointer;
  background-color: var(--ash-gray-hover);
  color: white;
  text-decoration: none;
}

.checkout {
  width: 95%;
  margin: auto;
  background-color: #eee;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 1rem 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkout table {
  width: 100%;
}

.item-price-cell {
  display: flex;
  gap: 1rem;
  /* padding: 0 2rem; */
  text-align: right;
  float: right;
}

.item-price-cell #totalprice {
  width: 5rem;
}

.balance-line th, .balance-line td {
  padding: .5rem 0;
  font-size: 1.3rem;
}

.place-order {
  display: flex;
  justify-content: center;
}

.place-order button {
  text-transform: uppercase;
  background-color: var(--ash-gray);
  padding: .5rem 2rem;
  font-size: 1.5rem;
  transition: all;
  transition-duration: 200ms;
}

.place-order #invalid-balance {
  opacity: 50%;
}

.place-order #valid-balance:hover {
  cursor: pointer;
  background-color: var(--ash-gray-hover);
}

/* ORDERS */

.order-items-page {
  display: flex;
  flex-direction: column;
}

.view-order {
  transition: all;
  transition-duration: 100ms;
  padding: 4px 1rem;
  background: var(--light-gray);
}

.view-order:hover {
  cursor: pointer;
  background-color: var(--light-gray-hover);
}

.back-to-orders {
  background-color: var(--ash-gray);
  color: white;
  padding: .5rem;
  border-radius: 5px;
  margin: 1rem 0;
  width: 10rem;
  text-align: center;
}

.back-to-orders:hover {
  background-color: var(--ash-gray-hover);
  color: white;
  text-decoration: none;
}