:root {
  --royal-blue: #00539B;
  --royal-blue-hover: #02427a;
  --navy-blue: #012169;
  --dark-green: #2a3d3a;
  --light-green: #A2C5AC;
  --light-green-hover: #b2cfba;
  --light-gray: #D3D5D4;
  --light-gray-hover: #b3b5b4;
  --ash-gray: #9DB5B2;
  --ash-gray-hover: #8ba3a0;
  --red: #ED254E;
  --red-hover: #bf1336;
  --green-tint: #dfedeb;
  --green-tint-hover:#d1dedc;
  --red-tint:#f5e4e7;
  --red-tint-hover: #edd1d6;
  --yellow-tint: #faf7e8;
  --yellow-tint-hover: #faf2cf;
}

section {
color: #fff;
text-align: center;
}

body {
  font-family: 'Roboto', serif;
}


/* MAIN */

button {
  border-radius: 5px;
  border: none;
}

/* NAVIGATION */

.sidenav {
  height: 100%;
  background-color: var(--navy-blue);
  overflow-x: hidden;
  padding: 20px 20px;
}

.nav-user {
  color: white;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.main-head {
  height: 150px;
  background: #FFF;
}

.main {
  padding: 0px 10px;
  padding-bottom: 2rem;
}

.login-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2 {
  font-weight: 300;
}

.btn-black {
  background-color: #000 !important;
  color: #fff;
}

#user-welcome {
  padding-right: 10px;
}

/* INDEX */

.filter-products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: .5rem;
  width: 98%;
  margin: auto;
}

.product-table {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  width: 95%;
  margin: auto;
}

.form-inline {
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.filter-criteria {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.filter-criteria #k {
  width: 3rem;
}

#prodTableBody a {
  color: var(--royal-blue);
}

#recent-table {
  padding: 1rem;
}

#recent-table th {
  padding: 1rem;
}

.purchase-pending, .purchase-fulfilled, .purchase-on-hold {
  transition: all;
  transition-duration: 50ms;
}

.purchase-pending {
  background-color: var(--yellow-tint);
}

.purchase-pending:hover {
  background-color: var(--yellow-tint-hover);
}

.purchase-fulfilled {
  background-color: var(--green-tint);
  color: var(--dark-green);
}

.purchase-fulfilled:hover {
  background-color: var(--green-tint-hover);
}

.purchase-on-hold {
  background-color: var(--red-tint);
}

.purchase-on-hold:hover {
  background-color: var(--red-tint-hover);
}

.order-link {
  color: var(--royal-blue);
  text-decoration: underline;
  font-weight: lighter !important;
}

.order-link:hover {
  font-weight: bolder !important;
}

.order-status-link {
  color: var(--royal-blue);
  text-align: center;
}

.order-status-link:hover {
  text-decoration: underline;
}

/* PRODUCT DETAILS */

.product-view {
  padding: 0 2rem;
}

.seller-box {
  width: 35%;
  float: right;
  background-color: var(--light-gray);
  padding: 1rem;
}

.seller-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  vertical-align: middle;
  height: 3rem;
}

.seller-list span {
  vertical-align: middle;
  align-self: center;
}

.seller-list form {
  vertical-align: middle;
  align-self: center;
}

.seller-list button {
  background-color: var(--light-green);
  color: white;
  padding: .1rem 1rem;
}

.seller-list button:hover {
  background-color: var(--light-green-hover);
  cursor: pointer;
}

/* CART */

.saved {
  width: screen;
}

.saved a {
  text-decoration: underline;
  color: var(--royal-blue);
}

.saved a:hover {
  color: var(--royal-blue-hover);
}

.saved button {
  border-radius: 5px;
  transition: all;
  transition-duration: 100ms;
  border: none;
  padding: 4px 1rem;
}

.saved button:hover {
  cursor: pointer;
}

.cart-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem;
}

.cart-left, .cart-right {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 1rem;
}

.cart-left {
  width: 80%;
}

.cart-right {
  width: 15%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  /* max-height: 12rem; */
  gap: .5rem;
  /* justify-content: space-between; */
}

.line-total {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--ash-gray);
  padding: .25rem 0;
}

@media only screen and (max-width: 1200px) {
  .cart-body {
    flex-direction: column;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
  }

  .cart-left, .cart-right {
    width: 100%;
  }
}

.cart-right form {
  text-align: center;
  padding: 1rem 0 0 0;
}

.cart-submit {
  background-color: var(--light-green);
  text-transform: uppercase;
}

.cart-submit:hover {
  background-color: var(--light-green-hover);
}

#qty-update {
  padding: .1rem .5rem;
  background-color: var(--ash-gray);
  color: white;
}

#qty-update:hover {
  background-color: 
}

.cart-update {
  background-color: var(--light-gray);
}

.cart-update:hover {
  background-color: var(--light-gray-hover);
  cursor: pointer;
}

.saved-row td {
  align-self: center;
}

.cart-remove button {
  color: var(--red);
  text-transform: lowercase;
  background-color: white;

}

.cart-remove button:hover {
  color: var(--red-hover);
}

.table td {
  vertical-align: middle;
}

.table th {
  vertical-align: middle;
}

.item-unavailable th {
  text-decoration: line-through;
  font-weight: normal;
}

.item-unavailable td {
  text-align: center;
}

.fixed-col {
  width: 12rem;
  margin: auto;
  text-align: center;
}

.fixed-col form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.last-col {
  width: 4rem;
}

#update-qty {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

#quantity {
  text-align: center;
  width: 4rem;
  background-color: #eee;
  border: none;
}

#edit-balance {
  color: gray;
  font-size: .8rem;
  text-decoration: none;
}

#edit-balance:hover {
  text-decoration: underline;
}

/* CHECKOUT */

.back-container {
  padding: 2rem .5rem;
}

.back-to-cart {
  background-color: var(--ash-gray);
  padding: .5rem 1rem;
  color: white;
  border-radius: 5px;
  transition: all;
  transition-duration: 200ms;
}

.back-to-cart:hover {
  cursor: pointer;
  background-color: var(--ash-gray-hover);
  color: white;
  text-decoration: none;
}

.checkout {
  width: 95%;
  margin: auto;
  background-color: #eee;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 1rem 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.checkout table {
  width: 100%;
}

.item-price-cell {
  display: flex;
  gap: 1rem;
  padding: 0 2rem;
  text-align: right;
  float: right;
}

.item-price-cell #totalprice {
  width: 5rem;
}

.checkout-total th {
  font-size: 1.3rem;
  padding: 2rem 0;
}

.checkout-total td {
  font-size: 1.3rem;
  padding: 2rem;
}

.balance {
  font-size: 2rem;
  text-align: center;
}

.checkout .balance .edit-balance {
  font-size: 1rem;
  text-decoration: none;
  color: gray;
  padding: 0 .5rem;
  transition: all;
  transition-duration: 200ms;
}

.checkout .balance .edit-balance:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.place-order {
  display: flex;
  justify-content: center;
}

.place-order button {
  text-transform: uppercase;
  background-color: var(--ash-gray);
  padding: .5rem 2rem;
  font-size: 1.5rem;
  transition: all;
  transition-duration: 200ms;
}

.place-order #invalid-balance {
  opacity: 50%;
}

.place-order #valid-balance:hover {
  cursor: pointer;
  background-color: var(--ash-gray-hover);
}

/* ORDERS */

.view-order {
  transition: all;
  transition-duration: 100ms;
  padding: 4px 1rem;
  background: var(--light-gray);
}

.view-order:hover {
  cursor: pointer;
  background-color: var(--light-gray-hover);
}