<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mini Amazon</title>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600;700&family=Roboto:wght@100;300;400;700&display=swap');
  </style>
</head>

<body>
  <div class="sidenav">
    {% block msg %}
      <h1 style="color:aliceblue">Welcome to CompSci 316 Mini Amazon!</h1>
      <div  class="nav-buttons">
        <a href="{{ url_for('index.index') }}" type="button" class="btn btn-light">To Home</a>
        <br>
        <div class="nav-user">
          {% if current_user.is_authenticated %}
            <span id="user-welcome">Hello {{current_user.firstname}}!</span>
            <a href="{{ url_for('saved.saved') }}" type="button" class="btn btn-light">View cart</a>
            <a href="{{ url_for('users.logout') }}" type="button" class="btn btn-light">Log out</a>
          {% else %}
            <a href="{{ url_for('users.login') }}" type="button" class="btn btn-light">log in</a>
          {% endif %}
        </div>
      </div>
    {% endblock %}
  </div>
  <div class="main">
    {% block content %}{% endblock %}
  </div>
</body>

</html>
