<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mini Amazon</title>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600;700&family=Roboto:wght@100;300;400;700&display=swap');
  </style>
  <script src="https://kit.fontawesome.com/f90f0236f5.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="sidenav">
    {% block msg %}
      <div  class="nav-buttons">
        <a href="{{ url_for('index.index') }}" class="home-link">316 Mini Amazon</a>
        <br>
        <div class="nav-user">
          {% if current_user.is_authenticated %}
            <span id="user-welcome" class="nav-icon">Hello {{current_user.firstname}}!</span>
            <a href="{{ url_for('users.info') }}" type="button" class="nav-icon">
              <i class="fa-solid fa-user"></i>
            </a>
            <a href="{{ url_for('saved.saved') }}" type="button" class="nav-icon cart-icon">
              <i class="fa-solid fa-cart-shopping"></i>
            <a href="{{ url_for('users.logout') }}" type="button" class="nav-icon">
              <i class="fa-solid fa-right-from-bracket"></i>
            </a>
          {% else %}
            <a href="{{ url_for('users.login') }}" type="button" class="login-button">log in</a>
          {% endif %}
        </div>
      </div>
    {% endblock %}
  </div>
  <div class="main">
    {% block content %}{% endblock %}
  </div>
  <div class="footer">
    <span>COMPSCI 316 Duke University</span>
    <span>Images from <a href="unsplash.com">unsplash.com</a></span>
    
  </div>
</body>

</html>
