{% extends "base.html" %}

{% block content %}

<div class="back-container">
  <a href="/saved" class="back-to-cart">back to cart</a>
</div>

<div class="checkout">
  <h1>Checkout</h1>
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart_items %}
      <tr>
        <th>{{item.name}}</th>
        <td class="item-price-cell">
          <span>{{item.num_items}}</span> x <span>{{item.price}}</span> = <span id="totalprice">${{item.totalprice}}</span></td>
        <td></td>
      </tr>
      {% endfor %}
      <tr class="balance-line">
        <th>Balance</th>
        <td class="item-price-cell">
          <a href="/info/balance" class="edit-balance">add funds</a> {{ "${:,.2f}".format(int_balance) }}
        </td>
      </tr>
      <tr class="balance-line">
        <th>Total</th>
        <td class="item-price-cell">
        {% if user.balance >= int_subtotal %}
          - 
          {% endif %}
          {{ "${:,.2f}".format(subtotal|float) }}
        </td>
      </tr>
      <tr class="balance-line">
        <th>Balance After Order</th>
        {% if user.balance >= int_subtotal %}
        <td class="item-price-cell">
          = {{ "${:,.2f}".format(int_balance - int_subtotal) }}
        </td>
        {% else %}
        <td class="item-price-cell" id="negative-balance-warning">
          You need more funds to make this purchase.
        </td>
        {% endif %}
      </tr>
    </tbody>
  </table>
  <!-- <div class="balance">
    Your balance is currently <span>{{ "${:,.2f}".format(int_balance) }}</span><a href="/account" class="edit-balance">add funds</a>

  </div> -->
  {% if user.balance >= int_subtotal %}
  <div class="place-order">
    <form action="{{ url_for('saved.saved_submit_order') }}" method="POST">
      <button id="valid-balance" type="submit">
        place order
      </button>
    </form>
  </div>
  {% endif %}
  {% if int_balance < int_subtotal %}
  <div class="place-order">
    <form action="{{ url_for('saved.saved_submit_order') }}" method="POST">
      <button id="invalid-balance" disabled type="submit">
        place order
      </button>
    </form>
  </div>
  {% endif %}
</div>


{% endblock %}