{% extends "base.html" %} 

{% block content %}

{% if is_seller %}
<br/>
<a href="/seller" type="button" class="btn btn-primary">Seller View</a>
{% endif %}

{% if current_user.is_authenticated %}
<a href="/orders" type="button" class="btn btn-info">Recent Orders</a>
{% endif %}
<br />

<div class="filter-products">
  <h2>Products for sale:</h2>
  <form class="form-inline" action="{{ url_for('product.most_expensive') }}" method="GET">
    <div class="form-group filter-criteria">
      <label for="k">Filter for top</label>
      <input type="text" class="form-control" id="k" name="k">
      <label for="category">most expensive items</label>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody id="prodTableBody">
    {% for product in avail_products%}
    <tr>
      <th scope="row">{{product.id}}</th>
      <td><a href="{{ url_for('product.product_page', product_id=product.id) }}" class="btn btn-link" style="padding:0;">{{product.name}}</a></td>
      <td>${{product.price}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<style>
  #pageButtons {
    display: inline;
  }
  #pageButtons button {
    margin-right: 5px;
    margin-left: 5px;
  }
  #pageButtons button.current-page {
    background-color: #888888;
    color:black;
    font-weight: bold;
  }
</style>
<div id="pagination">
  <button id="prevPage" class="btn btn-info"><<</button>
  <div id="pageButtons"></div>
  <button id="nextPage" class="btn btn-info">>></button>
</div>

<script>
  var kInput = document.getElementById("k");
  var currentKValue = document.getElementById("currentKValue");
  var perPageRadios = document.getElementsByName("perPage");
  var prodTableBody = document.getElementById("prodTableBody");
  var prevPageButton = document.getElementById("prevPage");
  var nextPageButton = document.getElementById("nextPage");
  var pageButtonsContainer = document.getElementById("pageButtons");

  var currentPage = 0;
  var rowsPerPage = 10;

  function updateTable() {
    var rows = prodTableBody.getElementsByTagName("tr");
    var totalPages = Math.ceil(rows.length / rowsPerPage);

    for (var i = 0; i < rows.length; i++) {
      rows[i].style.display = "none";
    }

    var startIndex = currentPage * rowsPerPage;
    for (var i = startIndex; i < startIndex + rowsPerPage; i++) {
      if (rows[i]) {
        rows[i].style.display = "";
      }
    }

    prevPageButton.disabled = currentPage === 0;
    nextPageButton.disabled = currentPage === totalPages - 1;

    updatePageButtons(totalPages);
  }

  function updatePageButtons(totalPages) {
    pageButtonsContainer.innerHTML = "";
    for (var i = Math.max(0, currentPage - 2); i < Math.min(totalPages, currentPage + 3); i++) {
      var button = document.createElement("button");
      button.textContent = i + 1;
      button.className = "btn btn-default";
      button.addEventListener("click", function () {
        currentPage = parseInt(this.textContent) - 1;
        updateTable();
      });
      if (i === currentPage) {
        button.className += " current-page";
      }
      pageButtonsContainer.appendChild(button);
    }
  }

  for (var i = 0; i < perPageRadios.length; i++) {
    perPageRadios[i].addEventListener("change", function () {
      rowsPerPage = parseInt(this.value);
      currentPage = 0;
      updateTable();
    });
  }
  prevPageButton.addEventListener("click", function () {
    if (currentPage > 0) {
      currentPage--;
      updateTable();
    }
  });
  nextPageButton.addEventListener("click", function () {
    var rows = prodTableBody.getElementsByTagName("tr");
    var totalPages = Math.ceil(rows.length / rowsPerPage);
    if (currentPage < totalPages - 1) {
      currentPage++;
      updateTable();
    }
  });

  updateTable();
</script>

<br><br>
{% if current_user.is_authenticated %}
<h2>Your recent purchases:</h2>
<table class="table table-hover table-bordered container">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Seller ID</th>
      <th scope="col">Number of Items</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
      <th scope="col">Time Purchased</th>
      <th scope="col">Time Updated</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
    <tr>
      <th scope="row">{{purchase.order_id}}</th>
      <th scope="row">{{purchase.name}}</th>
      <th scope="row">{{purchase.seller_id}}</th>
      <th scope="row">{{purchase.num_items}}</th>
      <th scope="row">${{purchase.price}}</th>
      <th scope="row">{{purchase.status}}</th>
      <th scope="row">{{purchase.time_purchased}}</th>
      <th scope="row">{{purchase.time_updated}}</th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>
  <a href="{{ url_for('users.login') }}">Log in</a> to see your purchase
  history!
</p>
{% endif %} {% endblock %}
