{% extends "base.html" %} {% block content %}

<br /><br />
<h2>Account Info:</h2>
<table class="table table-hover table-bordered container">
  
  <thead class="thead-dark">
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th scope="col">Balance</th>
      <th scope="col">ID</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"class="">
        <form action="{{ url_for('users.update_first') }}" 
            method="POST"
            >
            <input type="text" id="firstname" name="firstname" value="{{user.firstname}}">
            <button type="submit">&check;</button>
        </form>
      </td>
      <td scope="row"class="">
        <form action="{{ url_for('users.update_last') }}" 
            method="POST"
            >
            <input type="text" id="lastname" name="lastname" value="{{user.lastname}}">
            <button type="submit">&check;</button>
        </form>
      </td>
      <td scope="row"class="">
        <form action="{{ url_for('users.update_address') }}" 
            method="POST"
            >
            <input type="text" id="address" name="address" value="{{user.address}}">
            <button type="submit">&check;</button>
        </form>
      </td>
      <td scope="row"class="">
        <form action="{{ url_for('users.update_email') }}" 
            method="POST"
            >
            <input type="text" id="email" name="email" value="{{user.email}}">
            <button type="submit">&check;</button>
        </form>
      </td>
      <td scope="row"class="">
        <form action="{{ url_for('users.update_balance') }}" 
            method="POST"
            >
            <input type="text" id="balance" name="balance" value="{{user.balance}}">
            <button type="submit">&check;</button>
        </form>
      </td>
      <th scope="row">{{user.id}}</th>
    </tr>
  </tbody>
</table>
{% endblock %}