{% extends "base.html" %}

{% block content %}
<br><br>

<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.uid.label }}<br/>
    {{ form.uid(size=32) }}<br/>
    {% for error in form.uid.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>

<h2>Inventory by merchant:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Merchant_id</th> 
      <th scope="col">Product_id</th>
      <th scope="col">count</th>
    </tr>
  </thead>
  <tbody>
    {% for inventory in inventory%}
      <tr>
        <th scope="row">{{inventory.uid}}</th>  
        <th>{{inventory.pid}}</th>
        <td>{{inventory.count}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

{% endblock %}

