{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<div class="order-items-page">
  <a class="back-to-orders" href="/orders">back to orders</a>
  <h1>Order ID: {{order_id}}</h1>
  <table class="container table">
    <thead>
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Product Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Product Status</th>
        <th scope="col">Last Updated</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order_items %}
      <tr class="order-item-row">
        <th scope="row">{{item.name}}</th>
        <td>${{item.price}}</td>
        <td>{{item.num_items}}</td>
        <td>{{item.status}}</td>
        <td>{{humanize_time(item.time_updated)}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endif %}

{% endblock %}