{% extends "base.html" %} 

{% block content %}

<h1>Thanks!</h1>
<table class="container table">
  <thead class="">
      <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Unit Price</th>
          <th scope="col">Time Added</th>
      </tr>
  </thead>
  <tbody>
      {% for purchase in purchases %}
      <tr class="order-complete-row">
          <th scope="row">{{purchase.pid}}</th>
          <td>{{purchase.num_items}}</td>
          <td>$ {{purchase.price}}</td>
          <td>{{humanize_time(purchase.time_purchased)}}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock %}