{% extends "base.html" %}

{% block content %}

<br><br>

<div class="product-view">
    <h2>Product: {{ product.name }}</h2>
    <section style="text-align: left; float: left;color: black;width: 60%;">
        <h4 style="display: inline">Description: </h4>
        <p style="display: inline">{{ product.description }}</p>
    </section>
    <div class="seller-box">
        <h4>Sellers:</h4>
        {% for seller in sellers %}
        <div class="seller-list">
            <span>{{seller.seller_id}}</span>
            <span>${{seller.price}}</span>
            <span>In stock: {{seller.quantity}}</span>
            <form action="{{ url_for('product.product_add_to_cart', product_id=product.pid, seller_id=seller.seller_id)}}" method="POST">
                <button id="subtract-qty">-</button>
                <input type="number" id="quantity" name="quantity" min="1" value="{{seller.num_items}}">
                <button id="add-qty">+</button>
                <button type="submit">add to cart</button>
            </form>
            <script>
                const subtractQty = document.getElementById('subtract-qty');
                const addQty = document.getElementById('add-qty');
                const inputField = document.getElementById('quantity');

                subtractQty.addEventListener('click', event => {
                    event.preventDefault()
                    const currVal = Number(inputField.value) || 2;
                    inputField.value = currVal - 1;
                })

                addQty.addEventListener('click', event => {
                    event.preventDefault()
                    const currVal = Number(inputField.value) || 0;
                    inputField.value = currVal + 1;
                })
            </script>
        </div>
        {% endfor %}
    </div>
    
    <br><br>
    <br><br>
    
    <div>
        <h5 style="display: inline;">Category: </h5>
        <p style="display: inline;">{{ product.category }}</p>
    </div>
    
    <div style="color:black;">
        <img src="{{product.image}}" alt="{{product.name}}">
    </div>
</div>


{% endblock %}