{% extends "base.html" %}

{% block content %}

<br><br>

{% if current_user.is_authenticated %}
<div class="saved">

    <div class="cart-body">
        <div class="cart-left">
                <div class="cart-header">
                    <h2>Cart</h2>
                </div>
                <table class="table">
                    <thead class="">
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Total Price</th>
                            <!-- <th scope="col">Time Added</th> -->
                            <th class="fixed-col" scope="col"></th>
                            <th class="last-col" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                            {% if item.price != None %}
                            <tr class="saved-row">
                                <th scope="row">
                                    {% if item.price == None %}
                                    item none
                                    {{item.price}}
                                    {% endif %}
                                    <a href="/product?product_id={{item.pid}}">{{item.name}}</a>
                                </th>
                                <td class="" id="update-qty">
                                    <form action="{{ url_for('saved.saved_updateqty', pid=item.pid, sellerid=item.seller_id) }}" 
                                        method="POST"
                                        class="qty">
                                        <input type="number" id="quantity" name="quantity" value="{{item.num_items}}">
                                        <button id="qty-update" type="submit">&check;</button>
                                    </form>
                                </td>
                                <td class="cart-data">$ {{item.price}}</td>
                                <td>$ {{item.totalprice}}</td>
                                <!-- <td class="cart-data">{{humanize_time(item.time_added)}}</td> -->
                                <td class="fixed-col" >
                                    <form action="{{ url_for('saved.saved_to_wishlist', pid=item.pid, sellerid=item.seller_id) }}" method="POST">
                                        <button class="cart-update" type="submit">save for later</button>
                                    </form>
                                </td>
                                <td class="cart-remove">
                                    <form action="{{ url_for('saved.saved_remove', pid=item.pid, sellerid=item.seller_id)}}" method="POST">
                                        <button type="submit">X</button>
                                    </form>
                                </td>
                            </tr>
                            {% endif %}
                            {% if item.price == None %}
                            <tr class="saved-row item-unavailable">
                                <th scope="row">{{item.name}}</th>
                                <td class="unavailable-message" colspan="3">Sorry, this item is no longer available.

                                </td>
                                <td>
                                    <a href="/product?product_id={{item.pid}}">other sellers</a>
                                </td>
                                <td class="cart-remove">
                                    <form action="{{ url_for('saved.saved_remove', pid=item.pid, sellerid=item.seller_id)}}" method="POST">
                                        <button type="submit">x</button>
                                    </form>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            <h2>Saved for Later</h2>
            <table class="table">
                <thead class="">
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Time Added</th>
                        <th class="fixed-col" scope="col"></th>
                        <th class="last-col" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in wish_items %}
                    {% if item.price != None %}
                        <tr class="saved-row">
                            <th scope="row">
                                <a href="/product?product_id={{item.pid}}">{{item.name}}</a>
                            </th>
                            <td class="cart-data">$ {{item.price}}</td>
                            <td class="cart-data">{{humanize_time(item.time_added)}}</td>
                            <td class="fixed-col" >
                                <form action="{{ url_for('saved.saved_to_cart', pid=item.pid, sellerid=item.seller_id) }}" method="POST">
                                    <button class="cart-update" type="submit">move to cart</button>
                                </form>
                            </td>
                            <td class="cart-remove last-col">
                                <form action="{{ url_for('saved.saved_remove', pid=item.pid, sellerid=item.seller_id)}}" method="POST">
                                    <button type="submit">X</button>
                                </form>
                            </td>
                        </tr>
                        {% endif %}
                        {% if item.price == None %}
                        <tr class="saved-row item-unavailable">
                            <th scope="row">{{item.name}}</th>
                            <td class="unavailable-message" colspan="2">Sorry, this item is no longer available.
                            </td>
                            <td>
                                <a href="/product?product_id={{item.pid}}">other sellers</a>
                            </td>
                            <td class="cart-remove last-col">
                                <form action="{{ url_for('saved.saved_remove', pid=item.pid, sellerid=item.seller_id)}}" method="POST">
                                    <button type="submit">x</button>
                                </form>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if subtotal %}
            <div class="cart-right">
                <div class="line-total">
                    <span>Subtotal: </span>
                    <span>${{subtotal}}</span>
                </div>
                <div class="line-total">
                    <span>Balance: </span>
                    <span><a href="/account" id="edit-balance">edit</a> ${{user.balance}}</span>
                </div>
                <form action="{{ url_for('saved.saved_checkout') }}" method="GET">
                    <button type="submit"
                        class="cart-submit">checkout</button>
                </form>
            </div>
        {% endif %}
    </div>
    
    
    {% else %}
    <p><a href="{{ url_for('users.login') }}">Log in</a> to see your cart!</p>
    {% endif %}
</div>

{% endblock %}