{% extends "base.html" %} {% block content %}

<br /><br />
{% if is_seller %}
<h2>Your inventory:</h2>
<table class="table table-hover table-bordered container" class="product-table">
  <thead class="table">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for item in inventory_items%}
    <tr>
      <td scope="row">{{item.name}}</td>
      <td scope="row">${{item.price}}</td>
      <td scope="row">{{item.quantity}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h2>You are not a seller</h2>
{% endif %} {% endblock %}
